:host {
  background-color: #c81070;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 48px;
  padding: 0 16px;
  position: relative;
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
}

:host lang-switcher,
:host .more {
<<<<<<< HEAD
  position: absolute;
}
:host .connected {
=======
>>>>>>> upstream/master
  position: absolute;
}

:host lang-switcher {
  top: 13px;
  right: 62px;
}

<<<<<<< HEAD
:host .more {
=======
.more {
>>>>>>> upstream/master
  background: url("./assets/svg/more.svg");
  top: 12px;
  right: 10px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  opacity: 0.7;
}

<<<<<<< HEAD
:host .more:hover {
=======
.more:hover {
>>>>>>> upstream/master
  opacity: 1;
}

:host .connected {
  background-image: url("./assets/svg/connected.svg");
  background-size: contain;
  width: 24px;
  height: 24px;
  top: 12px;
  right: 30px;
  cursor: pointer;
}

:host .disconnected {
    filter: url("./assets/svg/gray.svg#grayscale");
}