<div>
    <button (click)="undo()">Undo</button>
    <button (click)="redo()">Redo</button>
</div>
<div [ngGrid]="_eventTableConfig"  (dragover)="dragOver($event)" (drop)="addEvent($event)">
    <div *ngFor="let box of _titles"  [ngGridItem]="box.config" class="title">
        {{box.title}}
    </div>
     <div *ngFor="let box of timeline | async" [ngGridItem]="box.config" class="grid-item timeline">
        {{box.title | date:"HH:mm"}}
    </div>
    <calendar-event *ngFor="let event of events$ | async" 
        [eventData]="event" [config]="event.config" [calendarHelper]="calendarHelper"
        (onChange)="updateEvent($event)">
    </calendar-event>
</div>
